* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  max-width: 1400px;
}
#root {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #8cc461;
  font-size: 10px;
}
#score-container {
  display: flex;
  height: 23vh;
  width: calc(90% - 15vw);
  border: 2px solid white;
  border-radius: 13px;
  margin: auto;
  margin-top: 5vh;
  /* flex-shrink: 1; */
}
@font-face {
  font-family: Roboto;
  src: url("./assets/Roboto/Roboto-Regular.ttf");
}
#left-container {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  justify-content: space-around;
  /* border: 1px solid yellow; */
  /* flex-shrink: 5; */
  flex: 50%;
  color: #fff;
  font-family: Roboto;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4px;
}
#right-container {
  float: right;
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex: 50%;
  margin-top: 3vh;
  flex-shrink: 0;
}
#right-container > div {
  background-color: white;
  height: 16vh;
  width: calc(45% - 2vw);
  border-radius: 9px;
  padding-top: 0.5rem;
  color: #656565;
  font-family: Roboto;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.7px;
  /* border: 1px solid blue; */
}
#comp-score,
#score {
  margin: auto;
  padding-top: 0.7rem;
  width: 50%;
  color: #252525;
  text-align: center;
  font-family: Roboto;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#play-area {
  /* display: none; */
  margin: auto;
  width: 80%;
  /* border: 2px solid black; */
}
#play-area button {
  border-radius: 50%;
}
#play-icons {
  margin: auto;
  width: 70%;
  height: 60vh;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* border: 1px solid yellow; */
  position: relative;
  /* top: -20%; */
  /* left: -1%; */
  left: calc(2% + 2vw);
}
#rock-container {
  position: relative;
  top: -15%;
  left: 5%;
}
#rock {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;

  outline-style: solid;
  outline-width: 0.6rem;
  outline-color: rgba(0, 116, 182, 1);
}
#scissor-container {
  position: relative;
  top: 25%;
  right: -12%;
}
#scissor {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;

  outline: 0.6rem solid rgba(255, 169, 67, 1);
}
#paper-container {
  position: relative;
  top: -15%;
  right: -25%;
}
#paper {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;

  outline: 0.6rem solid rgba(189, 0, 255, 1);
}
#mod-play-area {
  display: none;
  margin: auto;
  width: 70%;
  height: 70%;
  /* border: 1px solid black; */
}
#player-icon,
#pc-icon {
  /* width: 33%; */
  /* height: 100%; */
  /* border: 2px solid yellow; */
  margin: auto;
}
#titles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 15%;
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1rem;
}
#result-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  /* border: 2px solid black; */
  /* margin: auto; */
  font-family: Roboto;
  font-weight: 600;
}
#banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.1rem;
}
#winner {
  color: white;
  font-size: 1.5rem;
}
#loser {
  color: white;
  font-size: 1rem;
  position: relative;
  top: -7%;
  visibility: visible;
}
#play-again button {
  width: 100%;
  padding: 0.5rem;
  height: fit-content;
  border-radius: 0.5rem;
  border: none;
  font-family: Roboto;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}
#nxt {
  display: none;
}
#nxt button {
  /* display: none; */
  bottom: 2vh;
  right: 3vw;
  width: 12vw;
  height: 6vh;
  background-color: #8cc461;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
  font-family: Roboto;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2rem;
}
#rules-btn {
  /* bottom: 2vh;
  right: 5vw; */
  width: 12vw;
  height: 6vh;
  background-color: #8cc461;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
  font-family: Roboto;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2rem;
  margin-left: -20%;
}
.buttons {
  display: flex;
  float: right;
  position: absolute;
  right: 5%;
  bottom: 2%;
  /* border: 1px solid red; */
}
#rules {
  display: none;
  width: calc(35% - 10vw);
  height: calc(38% + 5vw);
  border: 2px solid yellow;
  margin: auto;
  text-align: center;
  border-radius: 0.7rem;
  border: 0.5rem solid #fff;
  background: #004429;
  float: left;
  z-index: 1;
  position: absolute;
  bottom: 10%;
  right: 5%;
}
#rules h1 {
  color: #fff;
  font-family: Roboto;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 1rem;
}
#rules li {
  list-style-type: none;
  color: #fff;
  font-family: Roboto;
  font-size: calc(0.6rem + 0.3vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 0.5rem;
  padding-left: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: left;
}
#rules li::before {
  content: "";
  position: absolute;
  left: 2%;
  margin-top: 0.5rem;
  width: 0.4rem;
  height: 0.4rem;
  background-color: yellow;
}
#close {
  position: absolute;
  top: -15%;
  right: -12%;
  border-radius: 50%;
  outline: 0.3rem solid white;
}
@font-face {
  font-family: Dangrek;
  src: url("./assets/Dangrek/Dangrek-Regular.ttf");
}
#close button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-family: Dangrek;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: red;
  padding-top: -5%;
}
line {
  float: left;
  stroke-width: 5px;
  color: black;
}
